<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name=".search"
            android:exported="true" />
        <activity
            android:name=".ham_main"
            android:exported="true" />
        <activity
            android:name=".write_review"
            android:exported="true" />
        <activity
            android:name=".visited"
            android:exported="true" />
        <activity
            android:name=".mypage"
            android:exported="true" />
        <activity
            android:name=".myreview"
            android:exported="true" />
        <activity
            android:name=".restaurant_info"
            android:exported="true" />
        <activity
            android:name=".restaurant_list2"
            android:exported="true" />
        <activity
            android:name=".restaurant_list"
            android:exported="true" />
        <activity
            android:name=".SignupPageActivity"
            android:exported="true" />
        <activity
            android:name=".MapActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".tablemap" />
        <activity android:name=".FindUser" />
        <meta-data android:name="com.kakao.sdk.AppKey" android:value="882cfa27de42cdaeba07d422cb28ab50"/>
    </application>


</manifest>